{
  "presets": [
    ["env", { "modules": false }]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "commonjs": {
      "presets": [
        "env"
      ]
    },
    "test": {
      "presets": [
        "env"
      ]
    }
  }
}
