{
  "presets": [
    ["env", { "modules": false }]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "es": {
      "plugins": [
        "./build/use-lodash-es"
      ]
    },
    "commonjs": {
      "presets": [
        "env"
      ]
    },
    "test": {
      "presets": [
        "env"
      ]
    }
  }
}
