{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "mocha": true,
    "node": true
  },
  "globals": {
    "expect": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "padded-blocks": 0,
    "no-use-before-define": [2, "nofunc"],
    "no-unused-expressions": 0,
    "no-param-reassign": 0,
    "no-reserved-keys": 0,
    "space-infix-ops": 0,
    "array-bracket-spacing": [2, "never"]
  }
}
